*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}

.container{
    width: 50%;
    height: 600px;
    background: deepskyblue;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    /* align-content: flex-start; */
    align-items: center;
}
.item{
    border: 2px solid black;
flex-basis: 100px;
height: 100px;
/* flex: 100px 1 1 ; */

}
/* #i1{
  flex: 100px 2 1;
} */
#i2{
   /* flex: 100px 1 2; */
   /* align-self:flex-end ; */
   align-self: flex-end;
}
/* #i3{
   flex: 100px 1 1;
} */