*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{

    width: 1000px;
    height: 600px;
    background: tomato;
    margin: auto;
    text-align: center;
display: flex;
flex-flow: row wrap;
justify-content:center;

align-items: flex-start     ;
/* flex-direction: row  ;
flex-wrap: wrap; */
align-content: center;
}
.item{
    background: teal;
    border: 2px solid black;
font-size: 5em;
width: 200px;
height: 200px;
}