body{
    background: rgb(226, 218, 218);
    font-family: sans-serif;
}
h1{
    background: rgba(0, 128, 0, 0.27);
    text-align: center;
    color: green;
}
table{
    background: green;
    color: white;
    margin: auto;
}
td{
  padding: 10px;
  /* border: solid;   */
}
button{
    background: green;
    color: white;
    padding: 6px;
    border-color: greenyellow;
    width: 100%;
}
input{
    height: 25px;
}